<h2 mat-dialog-title>New user</h2>
<form [formGroup]="newUser" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <span *ngIf="error" style="color: red;">Error creating user!</span>
    <mat-form-field>
      <input matInput formControlName="username" type="text" placeholder="Username" required>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="password" type="password" placeholder="Password" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="role" type="text" placeholder="Role" required>
        <mat-option value="SUDO">SUDO</mat-option>
        <mat-option value="ADMIN">ADMIN</mat-option>
        <mat-option value="HACKER">HACKER</mat-option>
        <mat-option value="JUDGE">JUDGE</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-button color="primary" [disabled]="isSubmitting">Create</button>
    <button type="reset" mat-button (click)="closeDialog()">Close</button>
  </div>
</form>