<mat-card>
  <mat-card-title>Registrants</mat-card-title>
  <mat-card-subtitle>Not Checked-in: {{numCheckedIn}}</mat-card-subtitle>
  <button mat-button color="primary" (click)="sendEmailToAll()" class="send-all">Send email to all</button>
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile [colspan]="1">
      <mat-form-field class="search-box">
        <input
          matInput
          placeholder="Search for registrant by email or name"
          (input)="onSearch($event.target.value)"
        >
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-paginator
        [length]="(registrantSearch$ | async)?.meta?.totalItems"
        [pageSize]="(registrantSearch$ | async)?.meta?.itemsPerPage"
        [pageSizeOptions]="[5, 10, 25, 50]"
        (page)="onPage($event)"
      >
      </mat-paginator>
    </mat-grid-tile>
  </mat-grid-list>

  <ng-container *ngIf="registrantSearch$ | async as registrants; else loadingOrError">
    <table
      mat-table
      [dataSource]="registrants.items"
      *ngIf="registrants.items?.length"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let reg">{{reg.firstName}} {{reg.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let reg" class="email-col">
          <span [class]="reg.emailVerfied.toString()">{{reg.email}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created at</th>
        <td mat-cell *matCellDef="let reg">{{reg.createdAt.toLocaleString()}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>View</th>
        <td mat-cell *matCellDef="let reg">
          <button mat-button color="primary" (click)="viewRegistrant(reg)">View</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
    </table>
  </ng-container>
  <ng-template #loadingOrError>
    <ng-container *ngIf="(registrantSearchError$ | async); then error else loading"></ng-container>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
    <ng-template #error>
      <span style="color: red;">There was an error loading registrants</span>
    </ng-template>
  </ng-template>
</mat-card>

