<h2 mat-dialog-title>New Judge</h2>
<form [formGroup]="newJudge" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <span *ngIf="error" style="color: red;">Error creating judge!</span>
    <mat-form-field>
      <input matInput formControlName="name" type="text" placeholder="Name" required>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="email" type="email" placeholder="Email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <select matNativeControl formControlName="category" required>
        <option selected disabled>Select Category</option>
        <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
      </select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-button color="primary" [disabled]="isSubmitting">Create</button>
    <button type="reset" mat-button (click)="closeDialog()">Close</button>
  </div>
</form>