<mat-card>
  <mat-card-title>Login Required:</mat-card-title>
  <h2>
    Judges: <br>
    <small>
      Please use the login link sent to your email. <br>
      If you haven't received a login link yet, please reach out to us at <a href="mailto:info@revolutionuc.com">info&#64;revolutionuc.com</a>.
    </small>
  </h2>
  <h2>Organizers:</h2>
  <form (submit)="onLogin()">
    <mat-form-field>
      <input type="text" matInput placeholder="Username" required [(ngModel)]="username" name="username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" required [(ngModel)]="password" name="password">
    </mat-form-field>
    <br>
    <span class="error-text" *ngIf="error">{{error}}</span><br>
    <button type="submit" mat-raised-button color="primary">Login</button>
  </form>
</mat-card>
