<h2 mat-dialog-title>{{reg.firstName}} {{reg.lastName}}</h2>
<ng-container *ngIf="registrant; else loading">
  <div mat-dialog-content>
    <p><strong>Email: </strong>{{registrant.email}}</p>
    <p><strong>Phone: </strong>{{registrant.phoneNumber}}</p>
    <p><strong>School: </strong>{{registrant.school}}</p>
    <p><strong>Major: </strong>{{registrant.major}}</p>
    <p><strong>Gender: </strong>{{registrant.gender}}</p>
    <p><strong>Ethnicity: </strong>{{registrant.ethnicity}}</p>
    <p><strong>Heard: </strong>{{registrant.howYouHeard}}</p>
    <p><strong>Hackathons: </strong>{{registrant.hackathons}}</p>
    <p><strong>Shirt size: </strong>{{registrant.shirtSize}}</p>
    <p><strong>Github: </strong>{{registrant.githubUsername}}</p>
    <p><strong>DOB: </strong>{{registrant.dateOfBirth}}</p>
    <p><strong>Allergens: </strong>{{registrant.allergens}}</p>
    <p><strong>Other allergens: </strong>{{registrant.otherAllergens}}</p>
    <p><strong>Education level: </strong>{{registrant.educationLevel}}</p>
    <p><strong>Emails received: </strong>{{registrant.emailsReceived}}</p>
    <p><strong>Created at: </strong>{{registrant.createdAt}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="closeDialog()" [disabled]="registrant.emailVerfied">
      {{registrant.emailVerfied ? 'Email Verified' : 'Verify Email'}}
    </button>

    <button mat-button color="primary" (click)="closeDialog()" [disabled]="registrant.confirmedAttendance1 === 'true'">
      {{registrant.confirmedAttendance1 === 'true' ? 'Attendance Confirmed' : 'Confirm Attendance'}}
    </button>

    <ng-container *ngIf="registrant.checkedIn; then uncheckInBtn else checkInBtn"></ng-container>
    <ng-template #checkInBtn>
      <button mat-button color="accent" (click)="closeDialog()">Check In</button>
    </ng-template>
    <ng-template #uncheckInBtn>
      <button mat-button color="warn" (click)="closeDialog()">Un-check In</button>
    </ng-template>
    
    <button mat-button (click)="sendEmail()">Send Email</button>
    <button mat-button color="primary" (click)="closeDialog()">Close</button>
  </div>
</ng-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>