mat-card {
    margin-bottom: 15px;
}
td[mat-cell] {
  padding-left: 5px;
  padding-right: 5px;
}
.search-box {
    width: 100%;
}
#closeButton {
    color: wheat;
    position: absolute;
    z-index: 10000;
    right: 1%;
    top: 2%;
    cursor: pointer;
}
.send-all {
    float: right;
    top: -65px
}
.upload-button {
  margin-left: 10px;
}
