@use '@angular/material' as mat;
@import '@angular/material/theming';

@include mat.core();

$revuc-primary-colors: (
  50: #fff9e5,
  100: #ffeebd,
  200: #ffe394,
  300: #ffd96d,
  400: #ffcf55,
  500: #ffc74d,
  600: #ffba49,
  700: #ffa845,
  800: #ff9943,
  900: #fc7e3f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);

$revuc-accent-colors: (
  50: #e2f0f2,
  100: #b5dbdd,
  200: #87c5c7,
  300: #5caeb0,
  400: #429d9e,
  500: #358c8b,
  600: #32807e,
  700: #2e706d,
  800: #2b605d,
  900: #254441,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);

$revuc-primary: mat.define-palette($revuc-primary-colors, 800, 300, 900);
$revuc-accent: mat.define-palette($revuc-accent-colors, 200, 100, 500);

$revuc-warn: mat.define-palette(mat.$red-palette);

$revuc-theme: mat.define-light-theme($revuc-primary, $revuc-accent, $revuc-warn);

@include mat.all-component-themes($revuc-theme);
