<mat-card>
  <mat-card-title>Prizing</mat-card-title>
  <ng-container *ngIf="isLoading; then loading else finishedLoading"></ng-container>
  <ng-template #loading>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </ng-template>
  <ng-template #finishedLoading>
    <ng-container *ngIf="error">
      <h2>{{error}}</h2>
    </ng-container>
    <ng-container *ngIf="indeterminateJudge">
      <h2>Some judges are still ranking projects. Please wait till they have finished.</h2>
    </ng-container>
    <ng-container *ngIf="notStarted">
      <h2>All the judges have turned in their rankings. You can now initiate scoring.</h2>

      <button mat-button color="primary" class="assign-button" [disabled]="isWorking" (click)="initiateScoring()">
        <ng-container *ngIf="!isWorking; else working">
          <mat-icon>assignment</mat-icon>
          Click here to initiate scoring
        </ng-container>
        <ng-template #working>
          <mat-spinner diameter="34"></mat-spinner>
        </ng-template>
      </button>
    </ng-container>
    <ng-container *ngIf="submissions.length">
      <h3>Scored submissions: {{submissions.length}}</h3>

      <mat-form-field appearance="fill">
        <
        <mat-select [(ngModel)]="selectedCategory">
          <mat-option selected disabled>Select Category</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-list>
        <mat-list-item *ngFor="let submission of getSubmissionsForSelectedCategory()">
          {{submission.project.title}} = {{submission.score}}
        </mat-list-item>
      </mat-list>
    </ng-container>
  </ng-template>
</mat-card>